@charset "UTF-8";
/* CSS Document */

.backgroundschemes {

	/* Default color for unsupported browsers */
	background: #55aaee;
		
	/* gecko based browsers e.g. Firefox */
	background: -moz-linear-gradient(top, #55aaee, #003366);
		
	/* webkit based browsers e.g. Chrome */	
	background: -webkit-gradient(linear, left top, left bottom, from(#55aaee), to(#003366));
	return;
}

.topheader {
	font-family: "Courier New", Courier, monospace;
	font-size:400%;
	text-align:center
	
}

.big-button {
	-moz-box-shadow:inset 0px 0px 11px 0px #f29c93;
	-webkit-box-shadow:inset 0px 0px 11px 0px #f29c93;
	box-shadow:inset 0px 0px 11px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:5px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	padding:12px 55px;
	text-decoration:none;
	text-shadow:1px 0px 0px #b23e35;
	margin-left:40%;
	margin-right:40%;
}
.big-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}
.big-button:active {
	position:relative;
	top:1px;
}


</style>