@charset "UTF-8";
/* CSS Document */

/* The general stylesheet for all our pages */


/* Background style */
.backgroundschemes {

	/* Default color for unsupported browsers */
	background: #EA6A0D;
		
	/* gecko based browsers e.g. Firefox */
	background: -moz-radial-gradient(center, circle, #FFFFFF, #EA6A0D);

	/* webkit based browsers e.g. Chrome */	
	background: -webkit-radial-gradient(center, circle, #FFFFFF, #EA6A0D);
}

/* For any big titles */
.topheader {
	font-family:"Palatino Linotype", "Book Antiqua", serif, Courier, monospace;
	font-size:400%;
	text-align:center;
	color:#03F;
}

/* For any secondary title */
.secondheader {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:200%;
	z-index:100;
}