<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>404 - Not Found</title>

  <link rel="stylesheet" href="/static/Backgrounds.css" type='text/css' />
<style type="text/css">


</style>
</head>

<body>

  <div style="position:absolute; left:25%; top:-5%;"> 
    <table>
      <tr width="620px">
        <td>
          <center>
            <h1 style="font-size:48px; font:'Trebuchet MS', Arial, Helvetica, sans-serif'; color:#F33;">
              404 Error: YOU BROKE THE INTERWEBS
            </h1>
          </center>
        </td>
      </tr>
      <tr width="620px">
        <td>
          <img src="/static/imgs/PeterVsChicken.jpg" style="position:absolute; "/>      
        </td>
      </tr>
      <tr height="450px">
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <center>
            <h1 style="font-size:24px; font:'Trebuchet MS', Arial, Helvetica, sans-serif';">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This page proudly brought to you by TIGERCHAT
            </h1>
          </center>
        </td>
      </tr>
    </table>    
  </div>


</body>
</html>
